.switch {
  position: relative;
  display: flex;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  margin-left: -0.75rem; /* -12px */
}

.switch__input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.switch__circle {
  display: flex;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  padding: 0.0625rem; /* 1px */
  margin: auto;
  border-radius: 9999px;
  transition: background-color 150ms;
  background-color: var(--color-list);
}

.switch__overlay {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */
  border-radius: 9999px;
  background-color: var(--color-foreground);
}

.switch__icon {
  display: none;
  width: 0.5rem; /* 8px */
  height: auto;
  margin: auto;
  color: var(--color-white);
}

.switch__input:hover~.switch__circle {
  background: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
}

.switch__input:checked~.switch__circle {
  background: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
}

.switch__input:checked~.switch__circle .switch__overlay {
  display: none;
}

.switch__input:checked~.switch__circle .switch__icon {
  display: block;
}

@media screen and (min-width: 588px) {
  .switch__circle {
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
  }

  .switch__overlay {
    width: 1.375rem; /* 22px */
    height: 1.375rem; /* 22px */
  }

  .switch__icon {
    width: 0.625rem; /* 10px */
  }
}