.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 2.5rem; /* 40px */
  padding-bottom: 4rem; /* 64px */
  transition: background-color 150ms;
  background-color: var(--color-background);
}

@media screen and (min-width: 588px) {
  .app {
    padding-top: 4.5rem; /* 72px */
  }
}