.todoAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem; /* 48px */
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.todoAdd__input {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  transition: color 150ms;
  color: var(--color-text);
  font-family: inherit;
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
}

.todoAdd__input::placeholder {
  color: var(--color-text-alt);
}

@media screen and (min-width: 588px) {
  .todoAdd {
    height: 4rem; /* 64px */
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
  }

  .todoAdd__input {
    font-size: 1.125rem; /* 18px */
    padding-left: 0.75rem; /* 12px */
  }
}